html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.hero-img {
  width: 100%;
  height: auto;
}

/* NEW June 4th  */

/* section {
  height: 95vh;
} */

p {
  line-height: 130%;
}

section article header {
  margin: auto auto;
  width: calc(85% - 4rem);
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
  /* line-height: 135%; */
}

section article header p:first-of-type {
  font-size: 1.75rem;
  font-weight: 600;
}

section article header p:nth-of-type(2) {
  line-height: 1.5;
  text-transform: initial;
  font-size: 1.2rem;
}

section article header h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

.a4Logo {
  width: 40%;
  display: block;
  padding: 0.25rem 0;
}


@media screen and (max-width: 768px) {
  section article header {
    width: calc(100% - 4rem);
  }
}

@media screen and (max-width: 767px) {

  section article header {
    width: calc(100% - 2rem);
    padding: 2rem 1rem;
  }

  section article header h1 {
    font-size: 2rem;
  }

  section article header p:first-of-type {
    font-size: 1.3rem;
  }

  section article header p:nth-of-type(2) {
    font-size: 1rem;
  }
}

/* END June 4th  */
